#body_591c_0{background: #fff url(images/b.jpg) no-repeat top center;background-size: cover}
#div_591c_0{color: #fff; text-align: center; font-family: HelveticaNeue-Light, sans-serif;background-color:rgba(0,0,0,.75);border-radius:1em;padding:5px;width: 20em; height: 12em; margin: 13% auto;}
#strong_591c_0{color: greenyellow}
#strong_591c_1{color: rebeccapurple}
#p_591c_0{font-size: 0.8em}
#a_591c_0{color: yellowgreen}
#p_591c_1{font-size: 0.8em}
